#bi単eta{
    position: absolute;
    margin-left: 90%;
    z-index: 9000;
}
@media screen and (max-width: 1024px) {
    #bi単eta{
    margin-left: 85%;
    }
}
@media screen and (max-width: 768px) {
    #bi単eta{
    margin-left: 82%;
    }
}
@media screen and (max-width: 414px) {
    #bi単eta{
    margin-left: 65%;    
    }
 
}